body{
    background-image: url("../images/bgimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}

h2 {
    margin: 10px 0;
    font-family: 'Rock Salt', cursive;
    color:#047D8B;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.home-h2{
    text-align: center;
    color: #F1EDEE;
}


h3 {
    margin-top: 25px;
    padding:0 15px;
    font-family: 'Roboto', sans-serif;
    color:#141B41;
}

/*Navigation*/

.navbar {
    padding:0;
    line-height: 1;
    
}

.navbar-brand {
    margin:0;
    padding:0;
    width:50%;
    
}

.logo {
    vertical-align: top;
    width: 33%;
}

.navbar-toggler {
    font-size: x-large;
    line-height: 0;
    color: #047D8B;
}

.navbar-nav {
    padding-bottom: 50px;
}

.nav-item {
    padding-right: 0.2rem;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: #047D8B;
}

.dropdown-menu {
    background-color:rgba(86, 234, 250, 0.5);
    text-align: center;
    font-weight: 100;
    line-height:1;
    min-width: 0;
    margin-bottom: 10px;
}

.dropdown-item {
    font-family: 'Roboto', sans-serif;
    color: #141B41;
}

.active{
    background-color: rgba(255,124,10,0.5);
    border-radius: 10px;
}

/*Hero*/

.container {
    width:auto;
    text-align: center;
    padding: 0 15px;
}


.heading > h1{
      margin: 50px 0;
      font-family: 'Rock Salt', cursive;
      font-style: italic;
      font-weight: 200;
      color: #047D8B;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


  .btn{
      margin-top: 50px;
      margin-bottom: 50px;
      padding: 6px 20px;
      background-color: #FF7C0A;
      text-transform: uppercase;
      font-weight: bold;
      color: #141B41;
  }

  .cta{
      padding: 10px 4px;
      text-transform: uppercase;
      font-weight: bold;
  }

  /*text shaddow*/
    .text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/*Card*/
.card-title{
    color: #56EAFA;
}
.card-text{
    color: #141B41;
}

/*Footer*/

.footer {
    position: bottom;
    margin-top: 125px;
    bottom: 0;
    width:100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgb(20, 27, 65, 0.75);
    }

.icons > a {
    margin: 0 75px;
    color: #047D8B;
    
}

/*About*/

.about {
    text-align: left;
    padding-top: 5px;
    margin: 25px 0;
    background-color: rgba(86, 234, 250, 0.5);
}

.us {
    margin-bottom: 120px;
}

.us > p {
    font-family: 'Roboto', sans-serif;
    color: #141B41
}

.testimonial {
    text-align: right;
    padding-top: 5px;
    margin-top: 25px;
    background-color: rgba(86, 234, 250, 0.5);
}

.testimonial > p{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: #141B41
}

/*Acitivities*/

.indoor {
    margin-bottom: 120px;
}

.mountain {
    text-align: right;
}

.contact-p{
    margin-bottom:170px;
    margin-top:100px;
    font-family: 'Roboto', sans-serif;
    color: #141B41;
}

.contact-h3{
    color:#047D8B;
}

.bright {
    background-color: rgb(255, 124, 10, 0.75)
}

.dark {
    background-color: rgb(20, 27, 65, 0.75);
    color: #F1EDEE;
}



  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .home-button{
        margin-bottom:360px;
    }
}

@media only screen and (max-width: 991px) {
  /* For mobile phones & tablets */

  /*Navigation*/
  .navbar {
  background-color: #141B41;
  }
  .navbar-brand {
    width: 66%;
  }

  .navbar-nav {
    padding-bottom: 0px;
}
  .nav-link {
    font-size: 15px;
    color: #F1EDEE;
  }
  .activities {
    font-size: 10px; 
  }

  .activities > a {
      color:#F1EDEE;
  }

  .activities-cta {
      margin-bottom:120px;
  }

/*Footer*/

.footer {
      position:fixed;
      background-color:#141B41;
      }


  .icons > a {
    margin: 0 5px;
    
  }

